{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <!--=====================================
                    META TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--META -->
        <meta name="noorul ecommerce" content="noorul ecommerce">
        <meta name="noorul ecommerce" content="noorul ecommerce">
        <meta name="noorul ecommerce" content="noorul ecommerce">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- WEBPAGE TITLE -->
        <title>noorul ecommerce</title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FAVICON -->
        <link rel="icon" href="{% static 'blog/images/favicon.png' %}">

        <!-- FONTS -->
        <link rel="stylesheet" href="{% static 'blog/fonts/flaticon/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'blog/fonts/icofont/icofont.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/fonts/fontawesome/fontawesome.min.css' %}">

        <!-- VENDOR -->
        <link rel="stylesheet" href="{% static 'blog/vendor/venobox/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendor/slickslider/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendor/niceselect/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendor/bootstrap/bootstrap.min.css' %}">

        <!-- CUSTOM -->
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
        {% comment %} <link rel="stylesheet" href="css/home-standard.css"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'blog/css/home-standard.css' %}">
        <!--=====================================
                    CSS LINK PART END
        =======================================-->
                <!-- CUSTOM -->
                <link rel="stylesheet" href="{% static 'css/user-auth.css' %}">
                <!-- CUSTOM -->               
            </head>
    <body>
        
        {% block content %}{% endblock %}

        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- VENDOR -->
        <script src="{% static 'blog/vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'blog/vendor/bootstrap/popper.min.js' %}"></script>
        <script src="{% static 'blog/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'blog/vendor/countdown/countdown.min.js' %}"></script>
        <script src="{% static 'blog/vendor/niceselect/nice-select.min.js' %}"></script>
        <script src="{% static 'blog/vendor/slickslider/slick.min.js' %}"></script>
        <script src="{% static 'blog/vendor/venobox/venobox.min.js' %}"></script>

        <!-- CUSTOM -->
        <script src="{% static 'blog/js/nice-select.js' %}"></script>
        <script src="{% static 'blog/js/countdown.js' %}"></script>
        <script src="{% static 'blog/js/accordion.js' %}"></script>
        <script src="{% static 'blog/js/venobox.js' %}"></script>
        <script src="{% static 'blog/js/slick.js' %}"></script>
        <script src="{% static 'blog/js/main.js' %}"></script> 
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>

</html>






